
$color: #18191a;
$background-color: rgb(251, 250, 235);

$row-height: 450px;
$content-narrow-width: 90svw;
$content-wide-width: 900px;

$row-gap-narrow: 20px;
$row-gap-wide: 40px;

$column-gap: 30px;

$image-area-width: 7fr;
$content-area-width: 4fr;

$image-border-radius: 8px;

$heading-area-height: 70px;
$buttons-area-height: 70px;


html {
  color: $color;
  background-color: $background-color;
}

body {
  margin: 0px 0px $row-gap-narrow;
  overflow-x: hidden;
}

.h1 {
  display: flex;
  justify-content: center;
  
  width: 100svw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;

  overflow: hidden;

  h1 {
    max-width: $content-narrow-width;
  }
}

main {
  display: grid;
  grid-auto-rows: $row-height;
  row-gap: $row-gap-narrow;

  .row {
    // Bruker flexbox slik at align-items fungerer
    display: flex;
    flex-flow: column nowrap;

    height: $row-height;

    // overflow hidden ved smal skjerm, visible ved bred skjerm
    overflow: hidden;
    box-sizing: border-box;
    align-items: center;

    .content-block {
      // bruker flexbox for smal skjerm, grid for bred
      display: flex;
      flex-flow: column nowrap;

      width: $content-narrow-width;
      height: inherit;
      max-height: $row-height;
      column-gap: $column-gap;

      // Regulere forhold mellom bildet og teksten
      grid-template-columns: $image-area-width $content-area-width;
      box-sizing: border-box;

      .image-area {
        
        // Bildet er i midten, og passer til rammen
        display: flex;
        overflow: hidden;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        
        // Avgrenser høyden på bildet
        max-height: $row-height;
        height: 100%;
        
        border-radius: $image-border-radius;
        
        img {
          width: 100%;
          height: inherit;
          
          object-fit: cover;
          
          // Større bilde når musepeker er over det
          cursor: pointer;
          transition: transform 400ms;

          &:hover {
            transform: scale(1.09);
          }
        }
      }

      .desc-area {
        font-size: larger;
        line-height: 1.6;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
        // Ikke vis ved smal skjerm, grid ved bred skjerm
        display: none;

        box-sizing: border-box;
        overflow: hidden;

        // Dele opp for overskrift, informasjon og knapper
        grid-template-rows: $heading-area-height 1fr $buttons-area-height;
        grid-template-columns: 1fr;

        h2 {
          display: flex;
          grid-column: 1 / 2;
          grid-row: 1;

          margin: 0px;

          box-sizing: border-box;
          align-items: center;
        }

        p {
          overflow: hidden;
          grid-column: 1 / 2;
          grid-row: 2;
          margin-top: 0px;
          margin-bottom: 10px;
        }

        .buttons {
          display: flex;
          column-gap: 10px;

          align-items: center;
          justify-content: center;

          * {
            // Størrelse
            width: 100px;
            height: 40px;
            box-sizing: border-box;

            // Design
            background-color: transparent;
            color: rgb(3, 68, 121);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            border: 2px solid #2881bd;
            border-radius: 5px;

            // Endre farge når musepeker er over knappen
            cursor: pointer;
            transition: color 0.3s, border-color 0.3s;

            &:hover {
              color: $color;
              border-color: $color;
            }
          }
        }
      }
    }
  }
}

// Om skjermen er bredere enn 100px mer enn innholdets bredde
@media only screen and (min-width: calc($content-wide-width + 100px)) {
  body {
    // Fra smal gap til bred gap
    margin-bottom: $row-gap-wide;
    
    main {
      // Også her; Fra smal gap til bred gap
      row-gap: $row-gap-wide;

      .row {
        // Fra hidden
        overflow: visible;

        .content-block {
          // Fra flex
          display: grid;
          // Fra 90svw
          width: $content-wide-width;

          .image-area {
            // Fra hidden
            overflow: visible;
            border-radius: 0px;

            img {
              border-radius: $image-border-radius;
            }
          }

          .desc-area {
            // Fra none til grid
            display: grid;
          }
        }
      }
    }
  }
}


::-webkit-scrollbar {
  width: 10px;
  height: 50px;
  padding: 40px;
  
}

::-webkit-scrollbar-thumb {
  background-color: rgba(74, 62, 62, 0.4);
  border-radius: 20px;
  padding: 2px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  
}
